<h1>User</h1>

<div id="users" class="show-item">

<p>
<strong><%= @user.username %></strong>
</p>

<p>
<strong><%= @user.zipcode %></strong>
</p>

<p>
<strong><%= @user.profile %></strong>
</p>

</div>