<div class="mentions-container">
    <% if mentioned_reports.any? %>
      <strong>この日報は以下の日報からリンクされています。</strong>
      <ul>
        <% mentioned_reports.each do |mentioned_report| %>
          <li>
            <%= link_to mentioned_report.title, mentioned_report %>
          </li>
        <% end %>
      </ul>
    <% end %>
</div>
