<div class="mentions-container">
  <% if mentioned_reports.any? %>
    <strong><%= t('shared.mentions.linked_reports') %></strong>
    <ul>
      <% mentioned_reports.each do |mentioned_report| %>
        <li>
          <%= link_to mentioned_report.title, mentioned_report %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
